{% extends 'base.html' %} 
{% block content %}
{% if latestQuestionList%}
<div class="container">
    <h4 class="center">Vote For it</h4>
    {% for question in latestQuestionList%}
      <ul class="collection">
        <li class="collection-item avatar">
          <i class="material-icons circle">question_answer</i>
          <span class="title">{{question.question_text}} </span>
           <p>{{question.pub_date}} <span class="blue-text right-align">6 votes</span> <a href="#!" class="secondary-content"><i class="material-icons">edit</i></a></p>
           <br/>
           <a href="#!" class="right"><i class="material-icons ">more</i></a>
        </li>
      </ul>
    {% endfor %}
  {% else %}
    <h2>No questions found</h2>
  </div>
{% endif %}
{% endblock %}
